.PlayersArea {
  h2 {
    align-self: center;
    margin-left: 2vw;
  }
}
.players-area-player {
  display: flex;
  justify-content: space-between;
  p {
    align-self: center;
  }
}
.players-area-player-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 50px;
  margin-right: 2vw;
}
