.squad-input {
  display: flex;
  width: 70%;
  margin: 3vh auto;
  justify-self: center;
  height: 55px;
  border: 1px solid #656464;
  border-radius: 10px;
  font-size: 1.8rem;
}
.squad-area {
  width: 285px;
  height: 400px;
  background-image: url('../../assets/soccer-field.png');
}
#squad-redo-btn {
  color: red;
  border-color: red;
}

#squad-redo-btn:hover {
  color: white;
  background-color: red;
}
